@import '../../utils/mixin';
@import '../../utils/variavel';


.footer {
  @include flex(column, center);
    margin-top: 10px;
    width: 100%;
    
    height: 209px;
    background: black;
    color: $color-primary;
    font-size: 24px;
  
    .img_footer {
      margin: 0 auto;
  
      img {
        height: 60px;
        width: 163px;
      }
    }
  
    .slogan-footer {
      height: 46px;
      text-align: center;
  
      p {
        margin-top: 10px; 
      }
    }
  } 
  
  @media (max-width: 450px) {
    .footer {

      font-size: 14px;
    }
  }