
.banner {
    position: relative;
    margin-top: 10px;
  
    .banner-image {
      position: relative;
      height: 223px;
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 5px 15px rgb(66, 58, 58);
      opacity: 80%;
      object-fit: cover;
    }
  
    .banner-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--colorWhite);
      margin: 0;
      text-align: left;
      font-size: 40px;
    
    }


  @media (max-width: 375px) {
    .banner-text {
      font-size: 24px;
     left: 55%;
     right: -50%;
    }

    .banner-image{
      height: 111px;
    }
  }

  @media (max-width: 800px) {
    .banner-image {
        
        height: 111px; 
    }

    .banner-text {
        
        font-size: 24px;
        left: 55%;
        right: -50%;
    }
} 
}