/* Importation des mixins et variables utilitaires pour un style cohérent dans tout le projet. */

@import '../../utils/mixin';
@import '../../utils/variavel';

.banner {
    position: relative;
    margin-top: 15px;
  
    .banner-image {
      position: relative;
      height: 200px;
      width: 100%; /* Pleine largeur pour s'étendre sur toute la bannière */
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      object-fit: cover;
    }
  
    .banner-text {
      position: absolute;
      left: 46%; /* Positionnement horizontal */
      top: 50%; /* Positionnement vertical */
      transform: translate(-50%, -50%); /* Centrage de l'élément */
      color: $color-primary;
      margin: 0;
      text-align: center;
      font-size: 40px;
      font-weight: 200;
    }


  @media (max-width: 376px) {
    .banner-text {
      font-size: 24px;
      text-align: left;
    }

    .banner-image{
      height: 111px;
    }
  }

  @media (max-width: 975px) {
    .banner-image {
        
        height: 111px; 
    }

    .banner-text {
        
        font-size: 24px;
        left: 55%;
        right: -50%;
    }
} 
}